body{
    height: 100%;
}
.slide{
    height: 0px;
    opacity: 0;
    overflow: hidden;
}
.showSlide{
    opacity: 1;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
    transition: all 0.5s ease-in-out;
}

h2{
    color: #153d6e;
}

.buttons{
    position: fixed;
    bottom: 0vh;
    right: 0;
    left: 0;
    background-color: #153d6e;
    padding: 10px;
}
.card{
    background-color: unset;
    border: unset;
}
@media(min-width:768px){

 
}
@media (min-width:1024px){


}